<div class="drop-table">
    <table id="dropTable" class="display">
        <thead style="color: yellow">
        <tr>
            <th>Name</th>
            <th>Level</th>
            <th>Quantity</th>
            <th>Rarity</th>
            <th>Noted</th>
        </tr>
        </thead>
        <tbody>
        {% for monster in page.monsters %}
        {% for drop in monster.drops %}
        <tr>
            <td><a href="{{ monster.wiki_url }}" target="_blank">{{ monster.name }}</a></td>
            <td>{{ monster.combat_level }}</td>
            <td>{{ drop.quantity }}</td>
            <td>{{ drop.rarity }}</td>
            <td>{{ drop.noted }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>