<div id="items">
    <div class="drop-item">
        <table>
            <th>
                <input type="text" id="searchInput" onkeyup="searchItems()" placeholder="Search for item..">
            </th>
            <th>
                F2P items: <input type="checkbox" id="f2pCheck" onclick="searchItems()">
            </th>
        </table>
    </div>
    <ul id="items-search">
        {% for item in site.item %}
        <li>
            <h3>
                <div class="drop-item">
                    <img src="./assets/img/items-icons/{{ item.item-id }}.png" alt="">
                    {% if item.members %}
                    <a href="{{ item.url | absolute_url }}" style="color: yellow">
                        {{ item.name }} [members]
                    </a>
                    {% else %}
                    <a href="{{ item.url | absolute_url }}" style="color: yellow">
                        {{ item.name }}
                    </a>
                    {% endif %}
                </div>
            </h3>
        </li>
        {% endfor %}
    </ul>
</div>


<script>
    function searchItems() {
        var input, filter, ul, li, a, i, txtValue, checkbox, item;
        input = document.getElementById('searchInput');
        checkbox = document.getElementById("f2pCheck");
        filter = input.value.toUpperCase();

        ul = document.getElementById("items-search");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            item = txtValue.split("[members]")[0];
            if (item.toUpperCase().indexOf(filter) > -1) {
                if (txtValue.indexOf("[members]") > -1) {
                    if (checkbox.checked === true) {
                        li[i].style.display = "none";
                    } else {
                        li[i].style.display = "";
                    }
                } else {
                    li[i].style.display = "";
                }
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>